.container {
  padding: 0 10px;
  border: 1px solid;
  display: flex;
  align-items: center;
  outline: aquamarine;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 50px;
}

.title {
  font-size: 19px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.leftIcon, .rightIcon {
  height: 25px;
  width: 25px;
}

.leftIcon {
  margin-right: 5px;
}

.rightIcon {
  margin-left: 5px;
}
